<div class="row mt-5">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6>Type of patients</h6>
        <button class="badge badge-dark" (click)="findRecipe(120)" id="diabetic">Diabetic</button>
        <button class="badge badge-dark" (click)="findRecipe(60)" id="cardiac">Cardiac</button>
        <button class="badge badge-dark" (click)="findRecipe(170)" id="cancer">Cancer</button>
    </div>
  </div>
  </div>
  <div class="col-sm-9">
    <div class="card" *ngFor="let recipe of (recipeFilter)">
      <div class="card-body">
        <h5 class="card-title" id="recipeName">{{ recipe.recipeName }}</h5>
        <small class="text-muted" id="recipeCreatedAt">Created on {{ recipe.date | date }}, </small>
        <small class="text-muted" id="recipeCategory">Category: {{ recipe.category }}, </small>
        <small class="text-muted" id="recipeCalories">Calories: {{ recipe.calories }}</small>
        <p class="card-text" id="recipeIngredients">
          Ingredients: {{ recipe.ingredients }}
        </p>
      </div>
    </div>
  </div>
</div>
